In [1]:
from IPython.core.display import display, HTML, Image
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import sys
print(sys.version)

3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.1916 64 bit (AMD64)]

In [3]:
# from types import SimpleNamespace
import types  
import pandas as pd
import numpy as np

def link1(input):
    return np.array(input)

data = types.SimpleNamespace(a=1, b='2')
data
data.c = 3.0
data.d=pd.DataFrame([1,2,3], columns=['a'])
data.e=[1,2,3]
data.f=np.array(data.e)
data.g=link1(data.e)

###print out all objects type in simeple namespace 'data'
l=[x for x in dir(data) if x[:2]!='__']
cstr=[]
for obj in l:
    str='t=type(data.'+ obj + ');print(t)'
    cstr.append(str)
    
cstr_cmd=';'.join(cstr)
exec(cstr_cmd)
data

namespace(a=1, b='2')

<class 'int'>
<class 'str'>
<class 'float'>
<class 'pandas.core.frame.DataFrame'>
<class 'list'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

namespace(a=1, b='2', c=3.0, d=   a
0  1
1  2
2  3, e=[1, 2, 3], f=array([1, 2, 3]), g=array([1, 2, 3]))

In [4]:
l_elments2=types.SimpleNamespace(a=3,b=4.,c=pd.DataFrame([1,2,3], columns=['a']))
data_dict = {} 
data_dict={i : l_elments2 for i in range(3)}

In [5]:
c=5
data_dict[1].c
c

   a
0  1
1  2
2  3

5

In [6]:
l=[x for x in dir(data_dict[0]) if x[:2]!='__']
cstr=[]
for obj in l:
    str='t=type(data_dict[0].'+ obj + ');print(t)'
    cstr.append(str)
    
cstr_cmd=';'.join(cstr)
exec(cstr_cmd)
data_dict

<class 'int'>
<class 'float'>
<class 'pandas.core.frame.DataFrame'>

{0: namespace(a=3, b=4.0, c=   a
 0  1
 1  2
 2  3), 1: namespace(a=3, b=4.0, c=   a
 0  1
 1  2
 2  3), 2: namespace(a=3, b=4.0, c=   a
 0  1
 1  2
 2  3)}

In [7]:
import random
from types import SimpleNamespace

class DataBag(SimpleNamespace):
    def choice(self):
        items = self.__dict__.items()
        return random.choice(tuple(items))

data_bag = DataBag(a=1, b=2)

DataBag(a=1, b=2)
# data_bag.choice()
a,b=data_bag.choice()
a
b

DataBag(a=1, b=2)

'a'

1